<%= link_to image_tag('down.png'), '#about', class: 'arrowdown animated bounce', onclick: 'disappear()' %>

<%= link_to image_tag('up.png'), '#scrolltop', class: 'arrowup invisible' %>

<div class="parallax-container valign-wrapper landing">
  <div class="section no-pad-bot">
    <div class="container scrollspy" id="about">
      <div class="center-align border-div animated slideInDown">
        <span class="border-box">a.chan</span>
      </div>
      <div class="row center-align">
        <div class="center-align border-div">
          <div style="margin: 7px" class="animated slideInUp">
            <span class="black-box">Web Developer</span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax"><%= image_tag 'bg1.jpg' %></div>
</div>

<div class="container content-section">
  <div class="section">
    <div class="row">
      <div class="col l3 m2 s12"></div>
      <div class="col l6 m8 s12">
        <div class="headline show-name invisible center-align">Hi! My name is Amy Chan.</div>
        <%= image_tag 'me.png', class: 'circle responsive-img circle-text show-pic invisible', alt: 'this is me' %>
        <div class="show-bio invisible"> <br>
          I am a full-stack developer based in Chicago. I am a web developer/designer at heart who took a brief detour to go to law school, learned some valuable skills while I was there, and am now back to doing what I love.
        </div>
      </div>
      <div class="col l3 m2 s12"></div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot scrollspy" id="resume">
    <div class="container">
      <div class="row center-align">
        <div class="center-align border-div"><span class="smaller-box">Resume</span></div>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag 'bg2.jpg' %></div>
</div>

<div class="container content-section">
  <div class="section">
    <div class="headline center-align show-skills invisible">Skills</div>
    <div class="row">
      <div class="col l3"></div>
      <div class="col s12 m12 l6 center-align">
        <ul class="show-list invisible">
        <% skills.each do |skill| %>
          <div class="col s6 m4 l3"><li><%= skill %></li></div>
        <% end %>
        </ul>
      </div>
      <div class="col l3"></div>
    </div>
    <div class="center-align show-contact invisible"><a href="#contact">Contact</a> me for a copy of my resume.</div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot scrollspy" id="portfolio">
    <div class="container">
      <div class="row center-align">
        <div class="center-align border-div"><span class="smaller-box">Portfolio</span></div>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'bg3.jpg' %></div>
</div>

<div class="container content-section">
  <div class="section">
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="icon-block project1 invisible">
          <div class="headline center-align">ColorCrush</div>
          <p><%= image_tag 'colorcrush-thumb.png', class: 'responsive-img thumb', style: 'margin: auto' %>
          <p class="center-align">
            <%= link_to 'Live Demo', 'http://color-crush.herokuapp.com', target: 'new' %> |
            <%= link_to 'Repository', 'https://github.com/amyology/colorcrush', target: 'new' %>
          </p>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="icon-block project2 invisible">
          <h5 class="center-align"> </h5>

          <p class="light"> </p>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="icon-block project3 invisible">
          <h5 class="center-align"> </h5>

          <p class="light"> </p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot scrollspy" id="contact">
    <div class="container">
      <div class="row center-align">
        <div class="center-align border-div"><span class="smaller-box">Contact</span></div>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'bg4.jpg' %></div>
</div>

<div class="container" style="padding-top: 1em">
  <div class="row">
    <div class="col l6 s12">
      <div class="headline show-form-header invisible">Contact Me</div>
      <br>
      <div class="show-form invisible">
      <%= form_tag '/messages', method: :post do %>
        
        <div class="input-field">
          <i class="material-icons prefix">perm_identity</i>
          <%= label_tag :name %>
          <%= text_field_tag :name, nil, class: 'validate' %><br>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <%= label_tag :email %>
          <%= text_field_tag :email, nil, class: 'validate' %><br>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">subject</i>
          <%= label_tag :subject %>
          <%= text_field_tag :subject, nil, class: 'validate' %><br>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">mode_edit</i>
          <%= label_tag :message %>
          <%= text_area_tag :message, nil, class: 'materialize-textarea validate' %><br>
        </div>
        
        <%= button_tag(type: 'submit', class: 'waves-effect waves-light btn-large') do %> 
          Send <i class="material-icons right">send</i>
        <% end %>
      <% end %><br>

    </div>
    </div>
    <div class="col l1"></div>
    <div class="col l5 s12">
      <div class="headline show-link-header invisible">Find Me</div>
      <ul class="show-link invisible">
        <li><%= link_to 'http://github.com/amyology', target: 'new' do %>
          <i class="fa fa-github" aria-hidden="true"></i> GitHub
        <% end %></li>
        <li><%= link_to 'https://www.linkedin.com/in/amy-chan', target: 'new' do %>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
        <% end %></li>
      </ul>
    </div>
  </div>
</div>