<div class="parallax-container valign-wrapper scrollspy" id="about">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="center border-div">
        <span class="border-box">a.chan</span>
      </div>
      <div class="row center">
        <div class="center border-div">
          <div style="margin: 7
          px">
            <span class="black-box">Web Developer</span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax"><%= image_tag 'https://s3-us-west-2.amazonaws.com/blogfolio/background1.jpg' %></div>
</div>

<div class="container content-section">
  <div class="section">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l6 s12">
        <h4>Hi!</h4>
        <h5>My name is Amy Chan.</h5>
        I am a full-stack developer based in Chicago. I am a web developer/designer at heart who took a brief detour to go to law school and am now back to doing what I love.
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper scrollspy" id="resume">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <div class="center border-div"><span class="smaller-box">Resume</span></div>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag 'https://s3-us-west-2.amazonaws.com/blogfolio/background2.jpg' %></div>
</div>

<div class="container content-section">
  <div class="section">
    <div class="row"><h5>Skills</h5></div>
    <div class="row">
      <% skills.each do |skill| %>
        <div class="col s6 m4 l3"><%= skill %></div>
      <% end %>
    </div>
    <div class="row"><a href="#contact">Contact</a> me for a copy of my resume.</div>
  </div>
</div>


<div class="parallax-container valign-wrapper scrollspy" id="portfolio">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <div class="center border-div"><span class="smaller-box">Portfolio</span></div>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'https://s3-us-west-2.amazonaws.com/blogfolio/background3.jpg' %></div>
</div>

<div class="container content-section">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">ColorCrush</h5>

          <p class="light">Description here.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">Project 2</h5>

          <p class="light">Description here.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">Project 3</h5>

          <p class="light">Description here.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper scrollspy" id="contact">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <div class="center border-div"><span class="smaller-box">Contact</span></div>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'https://s3-us-west-2.amazonaws.com/blogfolio/background4.jpg' %></div>
</div>

<div class="container" style="padding-top: 1em">
  <div class="row">
    <div class="col l6 s12">
      <h4>Contact Me</h4>

      <br>
      <%= form_tag '/messages', method: :post do %>
        
        <div class="input-field">
          <i class="material-icons prefix">perm_identity</i>
          <%= label_tag :name %>
          <%= text_field_tag :name, nil, class: 'validate' %><br>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <%= label_tag :email %>
          <%= text_field_tag :email, nil, class: 'validate' %><br>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">subject</i>
          <%= label_tag :subject %>
          <%= text_field_tag :subject, nil, class: 'validate' %><br>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">mode_edit</i>
          <%= label_tag :message %>
          <%= text_area_tag :message, nil, class: 'materialize-textarea validate' %><br>
        </div>
        
        <%= button_tag(type: 'submit', class: 'waves-effect waves-light btn-large') do %> 
          Send <i class="material-icons right">send</i>
        <% end %>
      <% end %><br>

    </div>
    <div class="col l1"></div>
    <div class="col l5 s12">
      <h4>Find Me</h4>
      <ul>
        <li><%= link_to 'http://github.com/amyology' do %>
          <i class="fa fa-github" aria-hidden="true"></i> GitHub
        <% end %></li>
        <li><%= link_to 'https://www.linkedin.com/in/amy-chan' do %>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
        <% end %></li>
      </ul>
    </div>
  </div>
</div>