<div class="page-container">
  <div class="row">
    <div class="col l6 m12 s12 offset-l3">
      <br><br>
      <div class="headline center">Contact Me</div>
      <br>

      <%= form_for @message do |f| %>
        
        <div class="cyan-text text-darken-1">
          <% if @message.errors[:name].any? %>
            <%= "Name " + @message.errors[:name].join(", ") %>
          <% end %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">perm_identity</i>
          <%= f.label :name, class: 'active' %>
          <%= f.text_field :name, class: 'validate' %><br>
        </div>

        <div class="cyan-text text-darken-1">
          <% if @message.errors[:email].any? %>
            <%= "Email " + @message.errors[:email].join(", ") %>
          <% end %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <%= f.label :email, class: 'active' %>
          <%= f.text_field :email, class: 'validate' %><br>
        </div>

        <div class="cyan-text text-darken-1">
          <% if @message.errors[:subject].any? %>
            <%= "Subject " + @message.errors[:subject].join(", ") %>
          <% end %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">subject</i>
          <%= f.label :subject, class: 'active' %>
          <%= f.text_field :subject, class: 'validate' %><br>
        </div>

        <div class="cyan-text text-darken-1">
          <% if @message.errors[:message].any? %>
            <%= "Message " + @message.errors[:message].join(", ") %>
          <% end %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">mode_edit</i>
          <%= f.label :message, class: 'active' %>
          <%= f.text_area :message, class: 'materialize-textarea validate' %><br>
        </div>
        
        <br>
        <div class="center">
          <%= button_tag(type: 'submit', class: 'waves-effect waves-light btn-large') do %> 
            Send <i class="material-icons right">send</i>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
