<%= link_to image_tag('down.png'), '#about', class: 'arrowdown animated bounce', onclick: 'disappear()' %>

<%= link_to image_tag('up.png'), '#scrolltop', class: 'arrowup invisible' %>

<div class="parallax-container valign-wrapper landing">
  <div class="section no-pad-bot">
    <div class="container scrollspy" id="about">
      <div class="center-align border-div animated slideInDown">
        <span class="border-box">a.chan</span>
      </div>
      <div class="row center-align">
        <div class="center-align border-div">
          <div style="margin: 5px" class="animated slideInUp">
            <span class="black-box">Web Developer</span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="parallax"><%= image_tag 'bg1.jpg' %></div>
</div>

<div class="container content-section">
  <div class="section">
    <div class="row">
      <div class="col l3 m2 s12"></div>
      <div class="col l6 m8 s12"> <br>
        <div class="headline show-name invisible center-align">Hi! My name is Amy Chan.</div> <br>
        <%= image_tag 'me.png', class: 'circle responsive-img circle-text show-pic invisible', alt: 'this is me' %>
        <div class="show-bio invisible"> <br>
          I am a full-stack developer based in Chicago. I am a web developer/designer at heart who took a brief detour to go to law school, learned some valuable skills while I was there, and am now back to doing what I love.
        </div> <br>
      </div>
      <div class="col l3 m2 s12"></div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot scrollspy" id="resume">
    <div class="container">
      <div class="row center-align">
        <div class="center-align border-div"><span class="smaller-box">Resume</span></div>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><%= image_tag 'bg2.jpg' %></div>
</div>

<div class="container content-section">
  <div class="section">
    <br>
    <div class="headline center-align show-skills invisible">Skills</div> <br>
    <div class="row">
      <div class="col l3"></div>
      <div class="col s12 m12 l6">
        <ul class="show-list invisible">
        <% skills.each do |skill| %>
          <div class="col s6 m4 l3"><li><%= skill %></li></div>
        <% end %>
        </ul>
      </div>
      <div class="col l3"></div>
    </div>
    <br> 
    <div class="center-align show-contact invisible"><a href="#contact">Contact</a> me for a copy of my resume.</div> <br>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot scrollspy" id="portfolio">
    <div class="container">
      <div class="row center-align">
        <div class="center-align border-div"><span class="smaller-box">Portfolio</span></div>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'bg3.jpg' %></div>
</div>

<div class="container content-section">
  <div class="section">
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="icon-block project1 invisible center-align"> <br>
          <div class="headline"><a href="/colorcrush">ColorCrush</a></div>
          <p><a href="/colorcrush" class="thumb"><%= image_tag 'colorcrush-thumb.png', class: 'responsive-img' %></a></p>
          <p>
            <%= link_to 'Demo', 'http://color-crush.herokuapp.com', target: 'new' %> |
            <%= link_to 'Repo', 'https://github.com/amyology/colorcrush', target: 'new' %>
          </p>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="icon-block project2 invisible center-align"> <br>
          <div class="headline"><a href="/sparkstart">Spark Start</a></div>
          <p><a href="/sparkstart" class="thumb"><%= image_tag 'sparkstart-thumb.png', class: 'responsive-img' %></a></p>
          <p><%= link_to 'Demo', 'http://prod-spark-start.herokuapp.com', target: 'new' %></p>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="icon-block project3 invisible center-align"> <br>
          <div class="headline"><a href="/jieyisushi">Jieyi Sushi</a></div>
          <p><a href="/jieyisushi" class="thumb"><%= image_tag 'jieyisushi-thumb.png', class: 'responsive-img' %></a></p>
          <p><%= link_to 'Visit', 'http://jieyisushi.com', target: 'new' %></p>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="icon-block project4 invisible center-align"> <br>
          <div class="headline"><a href="/buymenow">Analytics Dashboard</a></div>
          <p><a href="/buymenow" class="thumb"><%= image_tag 'analytics-thumb.png', class: 'responsive-img' %></a></p>
          <p><%= link_to 'Demo', 'http://tde-analytics.herokuapp.com', target: 'new' %></p>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="icon-block project5 invisible center-align"> <br>
          <div class="headline"><a href="/paramount">Paramount of Oak Park</a></div>
          <p><a href="/paramount" class="thumb"><%= image_tag 'paramount-thumb.png', class: 'responsive-img' %></a></p>
          <p><%= link_to 'Visit', 'http://www.paramountoakpark.com', target: 'new' %></p>
        </div>
      </div>

    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot scrollspy" id="contact">
    <div class="container">
      <div class="row center-align">
        <div class="center-align border-div"><span class="smaller-box">Contact</span></div>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'bg4.jpg' %></div>
</div>

<div class="container" style="padding-top: 1em">
  <div class="row">
    <div class="col l6 s12"> <br>
      <div class="headline show-form-header invisible">Contact Me</div>
      <br>
      <div class="show-form invisible">
      <%= form_for @message do |f| %>
        
        <div class="input-field">
          <i class="material-icons prefix">perm_identity</i>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'validate' %><br>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'validate' %><br>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">subject</i>
          <%= f.label :subject %>
          <%= f.text_field :subject, class: 'validate' %><br>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">mode_edit</i>
          <%= f.label :message %>
          <%= f.text_area :message, class: 'materialize-textarea validate' %><br>
        </div>
        
        <%= f.button(type: 'submit', class: 'waves-effect waves-light btn-large') do %> 
          Send <i class="material-icons right">send</i>
        <% end %>
      <% end %><br>

    </div>
    </div>
    <div class="col l1"></div>
    <div class="col l5 s12"> <br>
      <div class="headline show-link-header invisible">Find Me</div>
      <ul class="show-link invisible">
        <li><%= link_to 'http://github.com/amyology', target: 'new' do %>
          <i class="fa fa-github" aria-hidden="true"></i> GitHub
        <% end %></li>
        <li><%= link_to 'https://www.linkedin.com/in/amy-chan', target: 'new' do %>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
        <% end %></li>
      </ul>
    </div>
  </div>
</div>