<div class="page-container">
  <div class="row">
    <div class="col l6 m12 s12 offset-l3">
      <br>
      <div class="headline center">Edit Post</div>
      <br>

      <div class="center red-text">
        <% if alert %>
          <p><%= alert %></p>
          <br>
        <% end %>
      </div>

      <%= form_for @post do |f| %>
        <%= f.label :title, class: 'active' %>
        <%= f.text_field :title, class: 'validate' %>

        <%= f.label :body, class: 'active' %>
        <%= f.text_area :body, class: 'materialize-textarea validate' %>

        <%= label_tag :categories, nil, class: 'active' %>
        <%= text_field_tag :category_string, @category_string %>

        <%= label_tag :tags, nil, class: 'active' %>
        <%= text_field_tag :tag_string, @tag_string %>

        <%= f.label :published, class: 'active' %>
        <%= f.text_field :published, class: 'validate' %>

        <%= f.submit 'Update', class: 'waves-effect waves-light btn' %>
      <% end %>

    </div>
  </div>
</div>