<% title "a.chan | blog" %>
<% meta_description 'amy chan blog' %>

<div class="page-container">
  <div class="row">
    <div class="col l6 m12 s12 offset-l3">
      <div class="center green-text">
        <% if notice %>
          <%= notice %>
          <br><br>
        <% end %>
      </div>
      
      <div class="row">
        <div class="col l7 m6 s12" style="padding: 0">
          <h4>Blog</h4>
          <% if admin_signed_in? && current_admin.superadmin %>
            <p><a href="/posts/new">New Post</a></p>
          <% end %>
        </div>
        <div class="col l4 m5 s10" style="padding: 0">
          <%= form_tag "/blog", method: :get do %>
            <%= text_field_tag :search, nil, placeholder: "Search blog" %>
        </div>
        <div class="col l1 m1 s2">
            <%= button_tag(type: 'submit', class: 'waves-effect waves-light btn-flat', style: 'padding: 0') do %><i class="material-icons right">send &nbsp; </i><% end %>
          <% end %>
        </div>
      </div>

      <% if !@searched %>
        <% if @posts.count > 0 %>
          <% @posts.each do |post| %>
            <br>
            <p>
              <a href="/posts/<%= post.id %>" class="headline"><%= post.title %></a>
              <br>
              <i><%= post.created_at.strftime("%B %e, %Y") %></i>
              <br>
            </p>
            <p>
              <%= sanitize(post.body.first(450)) %>
              <% if post.body.length > 450 %>
                ... <a href="/posts/<%= post.id %>">Read more</a>
              <% end %>
            </p>
            <p>
              <% category_list = post.categories.collect { |category| category.category_name } %>
              <% if category_list.length > 0 %>
                Categories: 
                <% category_list.each do |category| %>
                  <%= link_to category, "/blog/?category_search=#{category}" %><% if category_list.index(category) < category_list.length - 1 %>,<% end %>
                <% end %>
              <% end %>

              <% tag_list = post.tags.collect { |tag| tag.tag_name } %>
              <% if tag_list.length > 0 %>
                Tags: 
                <% tag_list.each do |tag| %>
                  <%= link_to tag, "/blog/?tag_search=#{tag}" %><% if tag_list.index(tag) < tag_list.length - 1 %>,<% end %>
                <% end %>
                <br>
              <% end %>
            </p>
            <br>
            <% if @posts.index(post) < @posts.length - 1 %>
              <hr>
            <% end %>
          <% end %>
        <% else %>
          <p>There are no posts yet.</p>
        <% end %>
      <% else %>
        <% if @searched.length > 0 %>
          <% @searched.each do |post| %>
            <br>
            <p>
              <a href="/posts/<%= post.id %>" class="headline"><%= post.title %></a>
              <br>
              <i><%= post.created_at.strftime("%B %e, %Y") %></i>
            </p>
            <p>
              <%= sanitize(post.body.first(450)) %>
              <% if post.body.length > 450 %>
                ... <a href="/posts/<%= post.id %>">Read more</a>
              <% end %>
            </p>
            <br>
            <hr>
          <% end %>
        <% else %>
          <p>No results.</p>
        <% end %>
      <% end %>
      
      <p class="right"><%= link_to 'See all posts >', "/blog/archive" %></p>

    </div>
  </div>
</div>
