<div class="page-container">
  <div class="row">
    <div class="col l6 m12 s12 offset-l3">
      <p><a href="/blog">< Back to blog</a></p>

      <div class="center green-text">
        <% if notice %>
          <%= notice %>
          <br><br>
        <% end %>
      </div>

      <p class="headline center"><%= @post.title %></p>

      <p><%= sanitize(@post.body) %></p>
      <br>

      <% if @category_list.length > 0 %>
        <p>
          <b>Categories:</b>
          <% @category_list.each do |category| %>
            <%= link_to category, "/blog/?category_search=#{category}" %><% if @category_list.index(category) < @category_list.length - 1 %>,<% end %>
          <% end %>
        </p>
      <% end %>

      <% if @tag_list.length > 0 %>
        <p>
          <b>Tags:</b>
          <% @tag_list.each do |tag| %>
            <%= link_to tag, "/blog/?tag_search=#{tag}" %><% if @tag_list.index(tag) < @tag_list.length - 1 %>,<% end %>
          <% end %>
        </p>
      <% end %>

      <% if current_admin.superadmin %>
        <br>
        <p><a href="/posts/<%= @post.id %>/edit" class="waves-effect waves-light btn">Edit Post</a></p>
      <% end %>

    </div>
  </div>
</div>