<% title "a.chan blog | #{@post.title}" %>
<% meta_description 'amy chan blog' %>

<div class="page-container">
  <div class="row">
    <div class="col l6 m12 s12 offset-l3">
      <p><a href="/blog">< Back to blog</a></p>

      <div class="center green-text">
        <% if notice %>
          <p><%= notice %></p> <br>
        <% end %>
      </div>

      <div class="blog-post">
        <p class="headline center"><%= @post.title %></p>

        <p class="post-body"><%= sanitize(@post.body) %></p>
        
        <p class="category-box">
          <% if @category_list.length > 0 %>
              <b>Categories:</b>
              <% @category_list.each do |category| %>
                <%= link_to category, "/blog/?category_search=#{category}" %><% if @category_list.index(category) < @category_list.length - 1 %>,<% end %>
              <% end %>
          <% end %>
        </p>
        
        <p class="tag-box">
          <% if @tag_list.length > 0 %>
              <b>Tags:</b>
              <% @tag_list.each do |tag| %>
                <%= link_to tag, "/blog/?tag_search=#{tag}" %><% if @tag_list.index(tag) < @tag_list.length - 1 %>,<% end %>
              <% end %>
          <% end %>
        </p>
      </div>

      <% if admin_signed_in? && current_admin.superadmin %>
        <p class="edit-link"><a href="/posts/<%= @post.id %>/edit">Edit Post</a></p>
      <% end %>

      <% if @approved_comments.size > 0 %>
        <p class="headline">Comments (<%= @approved_comments.size %>)</p>
        
        <div class="comments">
          <% @approved_comments.each do |comment| %>
            <div class="comment">
              <span class="lighter-text">Name:</span> <%= comment.commenter %><br>
              <% if comment.url.present? %>
                <span class="lighter-text">Website/Blog:</span> <a href="<%= comment.url %>"><%= comment.url %></a><br>
              <% end %>
              <span class="lighter-text">Comment:</span> <%= comment.body %>
            </div>
          <% end %>
        </div>
      <% end %>
      
      <div class="comment-form">
        <p class="headline">Leave a comment</p>

        <div class="red-text">
          <% if alert %>
            <p><%= alert %></p>
          <% end %>
        </div>

        <%= form_for @comment do |f| %>
          <%= f.invisible_captcha :subtitle %>
          
          <div class="input-field">
            <%= f.label :commenter, "Name (required)", class: 'active' %>
            <%= f.text_field :commenter, class: 'validate' %>
          </div>
          
          <div class="input-field">
            <%= f.label :email, "Email (required, will not be published)", class: 'active' %>
            <%= f.email_field :email, class: 'validate' %>
          </div>

          <div class="input-field">
            <%= f.label :url, "Website or blog (optional)", class: 'active' %>
            <%= f.text_field :url, class: 'validate' %>
          </div>

          <div class="input-field">
            <%= f.label :body, "Comment (required)", class: 'active' %>
            <%= f.text_area :body, class: 'materialize-textarea validate' %>
          </div>
          
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.submit 'Submit', class: 'waves-effect waves-light btn' %>

        <% end %>
      </div>

    </div>
  </div>
</div>