<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if yield(:title).present? %>
        <%= yield(:title) %>
      <% else %>
        a.chan
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <% if yield(:meta_description).present? %>
      <meta name="description" content="<%= yield(:meta_description) %>" />
    <% else %>
      <meta name="description" content="amy chan portfolio" />
    <% end %>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <%= yield %>

  </body>
</html>
