<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if yield(:title).present? %>
        <%= yield(:title) %>
      <% else %>
        a.chan
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <% if yield(:meta_description).present? %>
      <meta name="description" content="<%= yield(:meta_description) %>" />
    <% else %>
      <meta name="description" content="amy chan portfolio" />
    <% end %>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

  <div id="scrolltop"></div>
  <div class="loader"></div>


  <div class="navbar-fixed">
    <ul id="dropdown" class="dropdown-content">
      <li><%= link_to 'New Blog Post', '/posts/new', class: 'top-link' %></li>
      <li><%= link_to "#{pluralize(Comment.where(approved: false).length, 'New Comment')}", '/comments', class: 'top-link' %></li>
      <li><%= link_to 'Logout', '/admins/sign_out', method: :delete, class: 'top-link' %></li>
    </ul>

    <nav class="large">
      <div class="nav-wrapper grey darken-4">
        <a><%= link_to 'a.chan', '/', class: 'brand-logo center white-text' %></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to 'About', '/#about', class: 'top-link' %></li>
          <li><%= link_to 'Resume', '/#resume', class: 'top-link' %></li>
          <li><%= link_to 'Portfolio', '/#portfolio', class: 'top-link' %></li>
          <li><%= link_to 'Contact', '/#contact', class: 'top-link' %></li>
          <li><%= link_to 'Blog', '/blog', class: 'top-link' %></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if admin_signed_in? %>
            <li><a class="dropdown-button top-link" href="#!" data-activates="dropdown">Admin Options<i class="material-icons right">arrow_drop_down</i></a></li>
          <% end %>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons hide-on-large-and-up cyan-text text-accent-4">menu</i></a>
      </div>
    </nav>
  </div>

  <ul id="slide-out" class="side-nav show">
    <div class="slide-nav">a.chan</div>
    <div><%= link_to 'About', '/#about' %></div>
    <div><%= link_to 'Resume', '/#resume' %></div>
    <div><%= link_to 'Portfolio', '/#portfolio' %></div>
    <div><%= link_to 'Contact', '/#contact' %></div>
    <div><%= link_to 'Blog', '/blog' %></div>
    <% if admin_signed_in? %>
      <div><%= link_to 'Logout', '/admins/sign_out', method: :delete %></div>
    <% end %>
  </ul>

  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>

  <main>

    <%= yield %>

  </main>

  <footer class="page-footer white">
    <div class="footer-copyright grey darken-4">
      <div class="container center-align">
        &copy; <%= Time.zone.now.year %> Amy Chan</a>
      </div>
    </div>
  </footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-88362801-2', 'auto');
    ga('send', 'pageview');
  </script>

  </body>
</html>
