<!DOCTYPE html>
<html>
  <head>
    <title>a.chan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

  <div id="scrolltop"></div>
  <div class="loader"></div>

  <div class="navbar-fixed">
    <nav class="large">
      <div class="nav-wrapper black">
        <a><%= link_to 'a.chan', '/', class: 'brand-logo center white-text' %></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to 'About', '#about', class: 'top-link' %></li>
          <li><%= link_to 'Resume', '#resume', class: 'top-link' %></li>
          <li><%= link_to 'Portfolio', '#portfolio', class: 'top-link' %></li>
          <li><%= link_to 'Contact', '#contact', class: 'top-link' %></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons hide-on-large-and-up cyan-text text-darken-1">menu</i></a>
      </div>
    </nav>
  </div>

  <ul id="slide-out" class="side-nav show">
    <div class="slide-nav">a.chan</div>
    <div><%= link_to 'About', '#about' %></div>
    <div><%= link_to 'Resume', '#resume' %></div>
    <div><%= link_to 'Portfolio', '#portfolio' %></div>
    <div><%= link_to 'Contact', '#contact' %></div>
  </ul>


  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>

  <main>

  <%= yield %>

  </main>

  <footer class="page-footer white">
    <div class="footer-copyright black">
      <div class="container" style="text-align: center">
        &copy; <%= Time.zone.now.year %> Amy Chan</a>
      </div>
    </div>
  </footer>

  </body>
</html>
